.topBar{
    background-color: #00275E;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}
.title {
    text-transform: uppercase;
}

.topBar a{
    color: white;
    font-size: 18px;
}

@media (max-width: 710px){
    .topBar .title h1{
        font-size: 32px;
    }
}

@media (max-width: 710px){
    .topBar{
        flex-direction: column;
        gap: 10px;
    }
}
